{
  "root": true,
  "extends": "@devrsi0n/eslint-config-react",
  "rules": {
    "react/jsx-wrap-multilines": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/forbid-prop-types": "off",
    "no-restricted-syntax": "off",
    "no-console": "off"
  }
}
