
node_modules
/.next/
/out/
.cache/
# production
/build/
/coverage/

.DS_Store
.env.*

*.backup.*

.now
.nyc_output
.env

yarn-error.log

/cypress/integration/examples/
/cypress/videos/
/cypress/screenshots/
