
node_modules

.cache/
# Build directory
public/
lib/
coverage/

.DS_Store
.env.*

*.backup.*

.now
.nyc_output
.env

yarn-error.log

/cypress/integration/examples/
/cypress/videos/
/cypress/screenshots/

.vercel
