.blog-post {
  & .content-wrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  & .content {
    width: 90%;
  }
  & .toc {
    position: fixed;
    right: 0;
    font-size: 14px;
    padding-right: 40px;
  }

  @media screen and (max-width: 1439px) {
    & .toc {
      display: none;
    }
  }
}
