.blog-post {
  & .content-wrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  & .sidebar {
    width: 20vw;
  }

  & .content {
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    width: 50vw;
    padding: 0 2rem;
    margin: 1rem;
    border-radius: 5px;
  }

  & .toc {
    width: 20vw;
    padding-right: 40px;

    .toc-list {
      // background: #f6f7f7;
      line-height: 1.35;
      position: fixed;
      right: 5rem;
      top: 10rem;
      font-size: 14px;
    }

    li {
      margin-bottom: 0;
    }

    li > p {
      margin-bottom: 0;
    }

    li > ul {
      margin-bottom: 0;
      margin-top: 0;
    }

    ul {
      list-style-type: disc;
    }

    ul ul {
      list-style-type: circle;
    }

    ul ul ul {
      list-style-type: square;
    }

    ul ul ul ul {
      list-style-type: square;
    }
  }

  @media screen and (max-width: 1439px) {
    & .toc-list {
      display: none;
    }

    & .content {
      width: 90vw;
    }
  }

  @media (max-width: 700px) and (orientation: portrait) {
    & .sidebar {
      display: none;
    }

    & .toc {
      display: none;
    }
  }
}
