.header-wrap {
  display: flex;
  flex-direction: row;

  .header {
    background: #f6f7f7;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    z-index: 9;
  }

  .header-brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 60vw;
  }

  @media (max-width: 700px) and (orientation: portrait) {
    .header-brand {
      width: 90vw;
    }
  }

  .header-brand-text {
    // background-color: rgb(29, 29, 29);
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    // padding: 3px 6px 4px 3px;
  }
}
