$color: rgba(255, 255, 255, 0.9);

.footer-wrap {
  color: $color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 19.3rem;
  box-shadow: 0 -1px 7px rgba(0, 0, 0, 0.1);

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.2rem;
    z-index: 9;

    .footer-copyright {
      margin-bottom: 0;
      margin-right: 2rem;
    }
  }

  .footer__build-time {
    color: rgba(153, 153, 153, 0.5);
  }

  .footer-logo-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;

    .footer-logo {
      color: #ffffff;
      margin-right: 1.5rem;
    }
    .footer-logo:hover {
      box-shadow: none;
    }
  }
}
