$color: rgba(255, 255, 255, 0.9);

.footer-wrap {
  color: $color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35vw;

    .footer-copyright {
      margin-bottom: 0;
    }
  }

  @media (max-width: 700px) and (orientation: portrait) {
    .footer {
      width: 90vw;
    }
  }

  .footer-logo-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;

    .footer-logo {
      color: #ffffff;
      margin-right: 1.5rem;
    }
    .footer-logo:hover {
      box-shadow: none;
    }
  }
}
